In [ ]:
!pip install pyspark

# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
Mounted at /content/drive

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Employee Dataset Analysis") \
    .getOrCreate()

In [ ]:
file_path = "/content/drive/MyDrive/large_employee_dataset.csv"

df = spark.read.csv(file_path, header=True, inferSchema=True)
df.show(5)

+----------+-------------------+---+----------+------+-----------+--------+------------+
|EmployeeID|               Name|Age|Department|Salary|JoiningDate|  Status|        City|
+----------+-------------------+---+----------+------+-----------+--------+------------+
|      4128|    Charles Johnson| 52|        HR| 64039| 2018-07-07|Resigned|   Allentown|
|      6094|      Dylan Camacho| 57| Marketing| 34686| 2015-08-25|  Active| Anthonyfort|
|      5883|Mr. Ryan Bowman Jr.| 29|   Finance| 64541| 2025-03-11|On Leave|   Gilesstad|
|      9146|         Brian Ball| 24|     Sales| 87831| 2015-10-01|Resigned|Jenniferfurt|
|      1918|      Angela Hooper| 26|   Finance|108773| 2019-08-14|On Leave|Lake Amystad|
+----------+-------------------+---+----------+------+-----------+--------+------------+
only showing top 5 rows

1. Show top 10 rows

In [ ]:
df.show(10)

+----------+--------------------+---+----------+------+-----------+--------+------------+
|EmployeeID|                Name|Age|Department|Salary|JoiningDate|  Status|        City|
+----------+--------------------+---+----------+------+-----------+--------+------------+
|      4128|     Charles Johnson| 52|        HR| 64039| 2018-07-07|Resigned|   Allentown|
|      6094|       Dylan Camacho| 57| Marketing| 34686| 2015-08-25|  Active| Anthonyfort|
|      5883| Mr. Ryan Bowman Jr.| 29|   Finance| 64541| 2025-03-11|On Leave|   Gilesstad|
|      9146|          Brian Ball| 24|     Sales| 87831| 2015-10-01|Resigned|Jenniferfurt|
|      1918|       Angela Hooper| 26|   Finance|108773| 2019-08-14|On Leave|Lake Amystad|
|      4600|Alexander Johnson...| 45|     Sales| 75671| 2016-04-21|On Leave|  Russohaven|
|      6253|         Steven Lane| 47|   Finance| 64982| 2021-07-25|  Active| East Robert|
|      8278|       Riley Johnson| 49|        HR| 43449| 2015-08-03|Resigned|  New Thomas|
|      8520|    Emily Washington| 43|   Finance| 33851| 2021-11-30|Resigned| West Ashley|
|      1298|     Valerie Fleming| 42| Marketing| 70137| 2019-12-08|Resigned| Caseborough|
+----------+--------------------+---+----------+------+-----------+--------+------------+
only showing top 10 rows

2. Count total employees

In [ ]:
print("Total employees:", df.count())

Total employees: 500

3. Unique departments

In [ ]:
df.select("Department").distinct().show()

+----------+
|Department|
+----------+
|     Sales|
|        HR|
|   Finance|
| Marketing|
|        IT|
+----------+

4. Employees in IT department

In [ ]:
df.filter(df.Department == "IT").show()

+----------+-------------------+---+----------+------+-----------+--------+------------------+
|EmployeeID|               Name|Age|Department|Salary|JoiningDate|  Status|              City|
+----------+-------------------+---+----------+------+-----------+--------+------------------+
|      6598|        Mary Henson| 58|        IT| 63951| 2021-08-25|  Active|       Port Tricia|
|      8518|   Elizabeth Abbott| 22|        IT| 91732| 2022-11-05|  Active|       Douglasside|
|      9506|        Thomas Dunn| 45|        IT| 90340| 2020-07-12|On Leave|    Lindseychester|
|      9663|        Glenn Mason| 43|        IT|109189| 2020-03-27|On Leave|      Katelynburgh|
|      2106|     Richard Bailey| 45|        IT| 30950| 2021-06-29|Resigned|        North John|
|      8212|      Jacob Jackson| 35|        IT| 54812| 2020-09-18|On Leave|South Veronicastad|
|      6354|     Nicole Gilmore| 35|        IT|104202| 2018-05-04|  Active|       East Joseph|
|      5716|         David Wang| 49|        IT| 94317| 2016-03-12|Resigned|          Linmouth|
|      1181|       Joseph Clark| 33|        IT|117142| 2016-05-31|On Leave|        Carlosfurt|
|      8302|      Debra Swanson| 47|        IT| 35236| 2023-10-25|Resigned|     Maciasborough|
|      9542|      Jeffrey Frank| 34|        IT| 57182| 2024-01-28|On Leave|          Paulside|
|      4100|Christopher Jimenez| 25|        IT| 65524| 2017-03-13|  Active|      North Tamara|
|      5780|     Kevin Harrison| 26|        IT| 77259| 2024-03-28|  Active|    New Laurietown|
|      5572|    Andrew Harrison| 42|        IT|118992| 2021-12-08|  Active|      West Matthew|
|      6388|        Melissa Lee| 49|        IT| 74933| 2016-05-10|  Active|       Barbermouth|
|      7984|         Paige Hall| 28|        IT| 67290| 2017-01-29|On Leave|         Jamesfort|
|      6043|        Casey Olson| 37|        IT| 80199| 2022-01-27|  Active|         Brianland|
|      2817|      Tony Mcdonald| 28|        IT| 92665| 2018-06-21|On Leave|       East Ashley|
|      1982|     Jackie Herring| 37|        IT| 65014| 2023-11-13|On Leave|       Michaeltown|
|      9259|       Shelly James| 35|        IT|106417| 2018-04-13|On Leave|  Port Laurieburgh|
+----------+-------------------+---+----------+------+-----------+--------+------------------+
only showing top 20 rows

5. Employees aged between 30 and 40

In [ ]:
df.filter((df.Age >= 30) & (df.Age <= 40)).show()

+----------+------------------+---+----------+------+-----------+--------+-------------------+
|EmployeeID|              Name|Age|Department|Salary|JoiningDate|  Status|               City|
+----------+------------------+---+----------+------+-----------+--------+-------------------+
|      4676|Christopher Fuller| 30|        HR| 63042| 2021-04-30|Resigned|   South Donnaville|
|      4136|     Jerome Torres| 30|   Finance| 68213| 2024-11-30|  Active|North Justinborough|
|      1588|       Edwin Burns| 34|     Sales|108208| 2015-09-14|Resigned|        South David|
|      8074|       Fred Brewer| 30|        HR|100736| 2021-06-06|On Leave|    Port Wendyville|
|      3841|       April Allen| 36|        HR| 98845| 2020-05-20|  Active|      Rachelchester|
|      8212|     Jacob Jackson| 35|        IT| 54812| 2020-09-18|On Leave| South Veronicastad|
|      3325|       Brian Huynh| 40|   Finance| 59924| 2017-01-02|On Leave|           Johnside|
|      6180|     Robert Cortez| 35| Marketing| 76109| 2023-12-31|Resigned|    Port Katiemouth|
|      6354|    Nicole Gilmore| 35|        IT|104202| 2018-05-04|  Active|        East Joseph|
|      6364|       James Hogan| 33|        HR| 79932| 2023-12-05|  Active|     Rodriguezshire|
|      6913|   Dustin Williams| 34|   Finance| 91947| 2023-10-16|On Leave|      North Stephen|
|      3115|   Benjamin Turner| 38|        HR| 99949| 2018-03-20|Resigned|     West Hollybury|
|      7527|      Bobby Henson| 34|   Finance| 47038| 2022-11-24|On Leave|           Dianaton|
|      5620|  Christina Reeves| 34|   Finance| 37858| 2024-01-16|On Leave|        Hannahhaven|
|      9939|      Karen Hansen| 37|        HR|112082| 2021-07-30|Resigned|           New Tara|
|      6509|     Joann Frazier| 38|   Finance| 87736| 2024-01-11|Resigned|  South Sabrinaview|
|      6340|     Kenneth Smith| 38|     Sales|115731| 2018-12-29|Resigned|        Lake Sheila|
|      1181|      Joseph Clark| 33|        IT|117142| 2016-05-31|On Leave|         Carlosfurt|
|      7098|     Hayley Reeves| 38|        HR|115326| 2022-03-26|  Active|          Whiteview|
|      9542|     Jeffrey Frank| 34|        IT| 57182| 2024-01-28|On Leave|           Paulside|
+----------+------------------+---+----------+------+-----------+--------+-------------------+
only showing top 20 rows

6. Sort by Salary descending

In [ ]:
df.orderBy(df.Salary.desc()).show()

+----------+--------------------+---+----------+------+-----------+--------+-------------------+
|EmployeeID|                Name|Age|Department|Salary|JoiningDate|  Status|               City|
+----------+--------------------+---+----------+------+-----------+--------+-------------------+
|      8860|       Cody Williams| 30|        IT|119978| 2019-03-16|Resigned|         Susanville|
|      4585|      Sandra Webster| 30|        HR|119940| 2022-10-21|On Leave|       Thompsonport|
|      4667|         Ronald Hunt| 58|     Sales|119677| 2019-08-29|Resigned|    Griffithchester|
|      1602|    Deborah Williams| 25|        HR|119397| 2023-09-26|On Leave|    Port Terrimouth|
|      3374|        Amanda Green| 41|        HR|119316| 2021-04-08|Resigned|    West Shelleyton|
|      6329|       Heidi Shaffer| 36|        HR|119165| 2020-01-14|Resigned|          New Alexa|
|      2428|        Mary Stevens| 55|     Sales|119137| 2022-03-06|On Leave|         Travisport|
|      1545|Brittany Christensen| 57|   Finance|119038| 2020-10-25|Resigned|        Matthewside|
|      2581|    Alexandria Jones| 34|        IT|119009| 2017-01-22|On Leave|           Toniside|
|      5572|     Andrew Harrison| 42|        IT|118992| 2021-12-08|  Active|       West Matthew|
|      7459|    Abigail Robinson| 23|     Sales|118959| 2021-09-23|  Active|        Leslieville|
|      7431|    Richard Mccarthy| 41|        IT|118682| 2025-02-12|On Leave|          Welchview|
|      5998|       Bruce Serrano| 36|        HR|118641| 2019-02-02|  Active|    South Elizabeth|
|      9714|          Kevin Reid| 37| Marketing|118584| 2015-10-03|  Active|     New Howardfort|
|      1143|     Stacey Schwartz| 55|   Finance|118504| 2022-01-24|  Active|Lake Michaelchester|
|      3580|         Jamie Baker| 34| Marketing|118225| 2017-07-20|  Active|        Michaelstad|
|      9485|        Dennis Rivas| 43| Marketing|118187| 2019-05-26|On Leave|         South Mark|
|      1943|          Roy Willis| 41|        HR|118172| 2016-03-05|  Active|     East Daisystad|
|      5755|        Erika Ortega| 42|        IT|117517| 2023-04-16|On Leave|          Kellyfort|
|      7350|         Jenna Patel| 50| Marketing|117237| 2016-04-11|On Leave|         Port Brian|
+----------+--------------------+---+----------+------+-----------+--------+-------------------+
only showing top 20 rows

Average salary by department

In [ ]:
df.groupBy("Department").avg("Salary").show()

+----------+-----------------+
|Department|      avg(Salary)|
+----------+-----------------+
|     Sales|77488.54545454546|
|        HR|76091.27450980392|
|   Finance|72834.75630252101|
| Marketing| 71958.1888888889|
|        IT|73116.25555555556|
+----------+-----------------+

8. Count of employees by Status

In [ ]:
df.groupBy("Status").count().show()

+--------+-----+
|  Status|count|
+--------+-----+
|Resigned|  159|
|  Active|  172|
|On Leave|  169|
+--------+-----+

9. Highest salary in each city

In [ ]:
from pyspark.sql.functions import max

df.groupBy("City").agg(max("Salary").alias("MaxSalary")).show()

+----------------+---------+
|            City|MaxSalary|
+----------------+---------+
|   Wilsonchester|    67025|
|     Bradshawton|   111116|
|       Steventon|    32009|
|     Lake Alyssa|    84903|
|      North Lisa|    57898|
|    North Marvin|    66252|
|     Jenniferton|    39907|
|     Buckleyview|    50109|
|     Burtonville|    98492|
|    Johnsonmouth|    48799|
|    South Joseph|    52456|
|  Lindseychester|    90340|
|   North Stephen|    91947|
|Port Nicoleshire|    57537|
|    Jerrychester|    53374|
|  North Jennifer|    82486|
|      Laurenstad|    44608|
|West Brendanbury|    90698|
|       Juliaberg|    50170|
|       New James|    54378|
+----------------+---------+
only showing top 20 rows

10. Number of employees who joined each year

In [ ]:
from pyspark.sql.functions import year

df.withColumn("JoiningYear", year("JoiningDate")) \
  .groupBy("JoiningYear") \
  .count().show()

+-----------+-----+
|JoiningYear|count|
+-----------+-----+
|       2025|   27|
|       2018|   52|
|       2015|   37|
|       2023|   47|
|       2022|   49|
|       2019|   52|
|       2020|   56|
|       2016|   49|
|       2024|   38|
|       2017|   44|
|       2021|   49|
+-----------+-----+

11. Active employees per department

In [ ]:
df.filter(df.Status == "Active") \
  .groupBy("Department") \
  .count().show()

+----------+-----+
|Department|count|
+----------+-----+
|     Sales|   32|
|        HR|   37|
|   Finance|   45|
| Marketing|   32|
|        IT|   26|
+----------+-----+

12. Average age per department

In [ ]:
df.groupBy("Department").avg("Age").show()

+----------+------------------+
|Department|          avg(Age)|
+----------+------------------+
|     Sales|40.535353535353536|
|        HR| 41.46078431372549|
|   Finance| 39.21008403361345|
| Marketing| 41.82222222222222|
|        IT| 38.68888888888889|
+----------+------------------+

13.City-Region dataset and join

In [ ]:
from pyspark.sql import Row

city_region_data = [
    Row(City="New York", Region="East"),
    Row(City="San Francisco", Region="West"),
    Row(City="Chicago", Region="Central"),
    Row(City="Austin", Region="South"),
]

region_df = spark.createDataFrame(city_region_data)


df_joined = df.join(region_df, on="City", how="left")
df_joined.show()

+-------------------+----------+--------------------+---+----------+------+-----------+--------+------+
|               City|EmployeeID|                Name|Age|Department|Salary|JoiningDate|  Status|Region|
+-------------------+----------+--------------------+---+----------+------+-----------+--------+------+
|        East Robert|      6253|         Steven Lane| 47|   Finance| 64982| 2021-07-25|  Active|  NULL|
|          Allentown|      4128|     Charles Johnson| 52|        HR| 64039| 2018-07-07|Resigned|  NULL|
|         Tonyamouth|      6406|       Patrick Chung| 27|        HR|116423| 2024-07-05|  Active|  NULL|
|       Jenniferfurt|      9146|          Brian Ball| 24|     Sales| 87831| 2015-10-01|Resigned|  NULL|
|     North Brittany|      8989|       Scott Burnett| 48|     Sales| 93690| 2016-04-25|Resigned|  NULL|
|          Gilesstad|      5883| Mr. Ryan Bowman Jr.| 29|   Finance| 64541| 2025-03-11|On Leave|  NULL|
|          Port Mark|      3326|       Michael Brown| 28|        HR| 85122| 2023-10-21|Resigned|  NULL|
|        West Ashley|      8520|    Emily Washington| 43|   Finance| 33851| 2021-11-30|Resigned|  NULL|
|   South Donnaville|      4676|  Christopher Fuller| 30|        HR| 63042| 2021-04-30|Resigned|  NULL|
|           Jillport|      7403|    Johnathan Harmon| 50|        HR| 97666| 2021-03-09|On Leave|  NULL|
|     Jimenezborough|      1515|        Micheal Wade| 26|        HR| 41771| 2024-03-29|  Active|  NULL|
|       Lake Amystad|      1918|       Angela Hooper| 26|   Finance|108773| 2019-08-14|On Leave|  NULL|
|        Anthonyfort|      6094|       Dylan Camacho| 57| Marketing| 34686| 2015-08-25|  Active|  NULL|
|        Bennettstad|      2758|       Brittany Kerr| 58|     Sales| 71105| 2019-03-24|  Active|  NULL|
|       Mcgeechester|      6640|     Isaiah Martinez| 51| Marketing| 72596| 2021-07-26|On Leave|  NULL|
|        Caseborough|      1298|     Valerie Fleming| 42| Marketing| 70137| 2019-12-08|Resigned|  NULL|
|North Justinborough|      4136|       Jerome Torres| 30|   Finance| 68213| 2024-11-30|  Active|  NULL|
|         Russohaven|      4600|Alexander Johnson...| 45|     Sales| 75671| 2016-04-21|On Leave|  NULL|
|         New Thomas|      8278|       Riley Johnson| 49|        HR| 43449| 2015-08-03|Resigned|  NULL|
|       West Phillip|      5157|     Tracy Hughes MD| 28|   Finance| 34381| 2020-06-01|  Active|  NULL|
+-------------------+----------+--------------------+---+----------+------+-----------+--------+------+
only showing top 20 rows

14. Group salaries by Region

In [ ]:
df_joined.groupBy("Region").avg("Salary").show()

+------+-----------+
|Region|avg(Salary)|
+------+-----------+
|  NULL|  74313.424|
+------+-----------+

15.years of experience

In [ ]:
from pyspark.sql.functions import current_date, datediff, round

df_exp = df.withColumn("ExperienceYears", round(datediff(current_date(), df.JoiningDate) / 365, 2))
df_exp.select("Name", "JoiningDate", "ExperienceYears").show()

+--------------------+-----------+---------------+
|                Name|JoiningDate|ExperienceYears|
+--------------------+-----------+---------------+
|     Charles Johnson| 2018-07-07|           6.91|
|       Dylan Camacho| 2015-08-25|           9.78|
| Mr. Ryan Bowman Jr.| 2025-03-11|           0.23|
|          Brian Ball| 2015-10-01|           9.68|
|       Angela Hooper| 2019-08-14|           5.81|
|Alexander Johnson...| 2016-04-21|           9.12|
|         Steven Lane| 2021-07-25|           3.86|
|       Riley Johnson| 2015-08-03|           9.84|
|    Emily Washington| 2021-11-30|           3.51|
|     Valerie Fleming| 2019-12-08|           5.49|
|     Tracy Hughes MD| 2020-06-01|           5.01|
|    Johnathan Harmon| 2021-03-09|           4.24|
|       Michael Brown| 2023-10-21|           1.62|
|       Scott Burnett| 2016-04-25|           9.11|
|  Christopher Fuller| 2021-04-30|            4.1|
|         Mary Henson| 2021-08-25|           3.78|
|       Jerome Torres| 2024-11-30|           0.51|
|     Isaiah Martinez| 2021-07-26|           3.86|
|       Patrick Chung| 2024-07-05|           0.91|
|        Micheal Wade| 2024-03-29|           1.18|
+--------------------+-----------+---------------+
only showing top 20 rows

16. Employees with more than 5 years of experience

In [ ]:
df_exp.filter(df_exp.ExperienceYears > 5).select("Name", "ExperienceYears").show()

+--------------------+---------------+
|                Name|ExperienceYears|
+--------------------+---------------+
|     Charles Johnson|           6.91|
|       Dylan Camacho|           9.78|
|          Brian Ball|           9.68|
|       Angela Hooper|           5.81|
|Alexander Johnson...|           9.12|
|       Riley Johnson|           9.84|
|     Valerie Fleming|           5.49|
|     Tracy Hughes MD|           5.01|
|       Scott Burnett|           9.11|
|       Brittany Kerr|            6.2|
|         Edwin Burns|           9.73|
|       Mary Reynolds|           6.93|
|           Erin Berg|           7.11|
|         Jason Hines|           9.52|
|Christopher Mcdaniel|          10.01|
|         April Allen|           5.04|
|         Glenn Mason|           5.19|
|      Victoria Kelly|           7.68|
|     Michael Trevino|           5.06|
|      Heather Nelson|          10.01|
+--------------------+---------------+
only showing top 20 rows