In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, upper, when

spark = SparkSession.builder.appName("EmployeeData").getOrCreate()

data = [
    ("Ananya", "HR", 52000),
    ("Rahul", "Engineering", 65000),
    ("Priya", "Engineering", 60000),
    ("Zoya", "Marketing", 48000),
    ("Karan", "HR", 53000),
    ("Naveen", "Engineering", 70000),
    ("Fatima", "Marketing", 45000)
]
columns = ["Name", "Department", "Salary"]

df = spark.createDataFrame(data, columns)

Exercise Set 1: Basics

1. Display all records in the DataFrame.

In [0]:
df.show()

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
|Ananya|         HR| 52000|
| Rahul|Engineering| 65000|
| Priya|Engineering| 60000|
|  Zoya|  Marketing| 48000|
| Karan|         HR| 53000|
|Naveen|Engineering| 70000|
|Fatima|  Marketing| 45000|
+------+-----------+------+

2. Print the schema of the DataFrame.

In [0]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: long (nullable = true)

3. Count total number of employees.

In [0]:
df.count()

7

Exercise Set 2: Column Operations

4. Add a new column Bonus which is 15% of Salary.

In [0]:
df_with_bonus = df.withColumn("Bonus", col("Salary") * 0.15)

5. Add a new column NetPay = Salary + Bonus.

In [0]:
df_with_netpay = df_with_bonus.withColumn("NetPay", col("Salary") + col("Bonus"))
df_with_netpay.show()

+------+-----------+------+-------+-------+
|  Name| Department|Salary|  Bonus| NetPay|
+------+-----------+------+-------+-------+
|Ananya|         HR| 52000| 7800.0|59800.0|
| Rahul|Engineering| 65000| 9750.0|74750.0|
| Priya|Engineering| 60000| 9000.0|69000.0|
|  Zoya|  Marketing| 48000| 7200.0|55200.0|
| Karan|         HR| 53000| 7950.0|60950.0|
|Naveen|Engineering| 70000|10500.0|80500.0|
|Fatima|  Marketing| 45000| 6750.0|51750.0|
+------+-----------+------+-------+-------+

Exercise Set 3: Filtering and Conditions

6. Display only employees from the “Engineering” department.

In [0]:
df.filter(col("Department") == "Engineering").show()

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
| Rahul|Engineering| 65000|
| Priya|Engineering| 60000|
|Naveen|Engineering| 70000|
+------+-----------+------+

7. Display employees whose salary is greater than 60000.

In [0]:
df.filter(col("Salary") > 60000).show()

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
| Rahul|Engineering| 65000|
|Naveen|Engineering| 70000|
+------+-----------+------+

8. Display employees who are not in the “Marketing” department.

In [0]:
df.filter(col("Department") != "Marketing").show()

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
|Ananya|         HR| 52000|
| Rahul|Engineering| 65000|
| Priya|Engineering| 60000|
| Karan|         HR| 53000|
|Naveen|Engineering| 70000|
+------+-----------+------+

Exercise Set 4: Sorting and Limiting

9. Show top 3 highest paid employees.

In [0]:
df.orderBy(col("Salary").desc()).show(3)

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
|Naveen|Engineering| 70000|
| Rahul|Engineering| 65000|
| Priya|Engineering| 60000|
+------+-----------+------+
only showing top 3 rows

10. Sort the data by Department ascending and Salary descending.

In [0]:
df.orderBy(col("Department").asc(), col("Salary").desc()).show()

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
|Naveen|Engineering| 70000|
| Rahul|Engineering| 65000|
| Priya|Engineering| 60000|
| Karan|         HR| 53000|
|Ananya|         HR| 52000|
|  Zoya|  Marketing| 48000|
|Fatima|  Marketing| 45000|
+------+-----------+------+

Exercise Set 5: String and Case Logic

11. Add a new column Level

In [0]:
df_with_level = df.withColumn(
    "Level",
    when(col("Salary") > 60000, "Senior")
    .when((col("Salary") >= 50000) & (col("Salary") <= 60000), "Mid")
    .otherwise("Junior")
)
df_with_level.show()

+------+-----------+------+------+
|  Name| Department|Salary| Level|
+------+-----------+------+------+
|Ananya|         HR| 52000|   Mid|
| Rahul|Engineering| 65000|Senior|
| Priya|Engineering| 60000|   Mid|
|  Zoya|  Marketing| 48000|Junior|
| Karan|         HR| 53000|   Mid|
|Naveen|Engineering| 70000|Senior|
|Fatima|  Marketing| 45000|Junior|
+------+-----------+------+------+

12. Convert all names to uppercase.

In [0]:
df_uppercase_names = df.withColumn("Name", upper(col("Name")))
df_uppercase_names.show()

+------+-----------+------+
|  Name| Department|Salary|
+------+-----------+------+
|ANANYA|         HR| 52000|
| RAHUL|Engineering| 65000|
| PRIYA|Engineering| 60000|
|  ZOYA|  Marketing| 48000|
| KARAN|         HR| 53000|
|NAVEEN|Engineering| 70000|
|FATIMA|  Marketing| 45000|
+------+-----------+------+